[Unit]
Description=DeCONZ Service Unit

[Service]
Type=forking
User=pi
ExecStart=/usr/bin/deCONZ-run.sh

[Install]
WantedBy=graphical.target
Alias=DeCONZ.service